<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleName</key>
	<string>Fractyr</string>
	<key>CFBundleDisplayName</key>
	<string>Fractyr</string>
	<key>CFBundleIdentifier</key>
	<string>com.voxelstorm.fractyr</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>voxs</string>
	<key>CFBundleExecutable</key>
	<string>Fractyr_Mac64</string>
	<key>CFBundleIconFile</key>
	<string>icon.png</string>
</dict>
</plist>
